<form>
  <div class="form-group row">
    <label for="project_reference" class="col-4 col-form-label">Project Reference</label> 
    <div class="col-8">
      <select id="project_reference" name="project_reference" class="custom-select">
        <option value="{{username}}">project</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="date" class="col-4 col-form-label">Date</label> 
    <div class="col-8">
      <input id="date" name="date" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-4 col-form-label">Description</label> 
    <div class="col-8">
      <input id="description" name="description" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="amount" class="col-4 col-form-label">Amount</label> 
    <div class="col-8">
      <input id="amount" name="amount" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="next_aciton" class="col-4 col-form-label">Next Action</label> 
    <div class="col-8">
      <input id="next_aciton" name="next_aciton" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="next_action_date" class="col-4 col-form-label">Next Action Date</label> 
    <div class="col-8">
      <input id="next_action_date" name="next_action_date" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="attachment" class="col-4 col-form-label">Attachment</label> 
    <div class="col-8">
      <input id="attachment" name="attachment" type="text" class="form-control">
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>