{% load crispy_forms_tags %}

<form action="{% url 'create_unit' %}" method="post" class="form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for hidden_field in form.hidden_fields %}
      {{ hidden_field.errors }}
      {{ hidden_field }}
    {% endfor %}
    <div class="form-row">
    {% for field in form.visible_fields %}
      <div class="form-group col-md-6 mb-0">
        {{ field|as_crispy_field }}
      </div>
    {% endfor %}
    </div>
    <p class="text help-text text-danger"></p>

    <div class="d-flex justify-content-center">
      <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>

