{% extends "base.html" %}
{% load static %}

{% block title %}
Reset Password |
{% endblock title %}

{% block navbar %}
{% endblock navbar %}
{% block header_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock header_css %}

{% block body %}
<body>
  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
          <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                        
                        <!-- Forgot Password -->
                <div class="card">
                    <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="index.html" class="app-brand-link gap-2">
                        <span class="app-brand-logo demo">

                                <img class="img-fluid" src="{% static 'img/cu_logo.svg' %}" alt="">


            </span>
                        <span class="app-brand-text demo text-body fw-bolder">CUCBA</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <p>
                        Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
                      </p>
                    <div class="text-center">
                        <a href="{% url 'login' %}" class="d-flex align-items-center justify-content-center">
                        <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                        Back to login
                        </a>
                    </div>
                    </div>
                </div>
                <!-- /Forgot Password -->
            </div>
          </div>
      </div>
    </div>

  </div>

  <script src="{% static 'vendor/libs/jquery/jquery.js' %}"></script>
  <script src="{% static 'vendor/libs/popper/popper.js' %}"></script>
  <script src="{% static 'vendor/js/bootstrap.js' %}"></script>
  <script src="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

  <script src="{% static 'vendor/js/menu.js' %}"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="{% static 'js/main.js' %}"></script>

  <!-- Main JS -->
</body>


{% endblock body %}

