{% if not count is None %}
  <div class="row d-flex justify-content-center">
    <h6 class="font-weight-bold">You are viewing {{count}} Callreports, <a href="{% url 'dashboard_call_report' %}"> Click Here </a>to view all. </h6>
  </div>
{% endif %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold er text-primary">Call Report

        <div class="float-right">
          <a href="{% url 'callreport_report' %}" data-toggle="modal" data-title="Generate New report" data-target="#CallBackForm" class="btn btn-sm btn-primary">Generate Report</a></span>

          <a href="{% url 'create_callreport' %}" data-toggle="modal" data-title="Add new callreport" data-target="#CallBackForm" class="btn btn-sm btn-primary">New
            callreport</a>

          </div>
      </h6>
    </div>

    <div class="card-body">
      <div class="row mb-1">
        <div class="col-4 offset-8">
            <input type="search" id="callreport-search" value="" class="form-control" placeholder="Search">
        </div>
      </div>
      <div class="accordion" id="callreportaccordion">
        {% if callreports %}
        {% for callreport in callreports %}
        <div class="card  border border-primary mb-2">
          <div class="card-header bg-default" id="callreport{{forloop.counter}}e">
            <div class="row" data-toggle="collapse" data-target="#collapsecallreport{{forloop.counter}}" aria-expanded="true"
              aria-controls="collapsecallreport{{forloop.counter}}">
              <div class="col-4">
                {{callreport.client_id}}
              </div>
              <div class="col-4 font-weight-bold ">
                {{callreport.client_name}}
              </div>
              <div class="col-4">
                <span class="font-weight-bold">Priority: </span>
                <span class="m-0 badge badge-pill badge-danger float-right mr-2">{{callreport.get_priority_display}}</span>
              </div>

              <div class="col-8">
                <span class="font-weight-bold ">Mobile: </span>{{callreport.client_mobile}}
              </div>
              <div class="col-4">
                <span class="font-weight-bold ">Updated: </span> {{callreport.followup_set.all.last.date|date:'M d'}}
              </div>
              <div class="col-12">
                <span class="font-weight-bold ">Project Address: </span> {{callreport.project}}
              </div>
              <div class="col-12">
                <span class="font-weight-bold text-primary ">Recent Action: </span> {{callreport.followup_set.all.last.description}}

              </div>
              <div class="col-12">
                <span class="font-weight-bold text-primary">Next Action: </span> {{callreport.followup_set.all.last.next_action}}
              </div>
              <div class="col-12">
                <span class="font-weight-bold ">Deal By: </span> {{callreport.uploaded_by}}
              </div>
            </div>
          </div>
          <div id="collapsecallreport{{forloop.counter}}" class="collapse" aria-labelledby="callreport{{forloop.counter}}"
            data-parent="#callreportaccordion">
            <div class="card-body">
              {% if callreport.followup_set.all|length %}
              {% for followup in callreport.followup_set.all %}
              <!-- followup Loop Start -->
              <div class="row mb-2 border-bottom">
                <div class="col-3">
                  <div class="mb-2">
                    {% if followup.attachment %}
                  <a href="{{followup.attachment.url}}" class="image">
                    <img  class="img-fluid img-thumbnail" src="{{followup.attachment_thumb.url}}" alt="avatar"/> 
                  </a>
                  {% else %}
                    <span><i class="far fa-image fa-4x"></i></span>
                  {% endif %}  
                  </div>
                  
                  {% if followup.file_attachment %}
                  <div>
                    <a href="{{followup.file_attachment.url}}" download="download">
                      <i class="fas fa-paperclip"></i> file
                    </a>
                   </div>
                  {% endif %}                    
                   <div>

                      <a href="{% url 'add_callreport_query' followup.id %}" data-toggle="modal" data-title="Add Query/Response" data-target="#CallBackForm" class="btn btn-sm btn-outline-primary">Query</a>
  

                   </div>
                </div>
                <div class="col-9">
                  <div class="row">
                    <div class="col-12 mb-2">
                      <span class="font-weight-bold  m-0">Action Date: </span>{{followup.date|date:'M d Y'}}
                    </div>
                    <div class="col-12 mb-2">
                      <span class="font-weight-bold  m-0">Next Action Date: </span>{{followup.next_action_date|date:'M d, Y'}}
                    </div>
                  <div class="mb-2 col-12">
                    <span class="font-weight-bold   m-0">Recent Action: </span>{{followup.description}}
                  </div>
                  <div class="mb-2 col-12">
                    <span class="font-weight-bold   m-0">Next Action: </span>{{followup.next_action}}
                  </div>
                  <div class="col-8">

                  </div>
                  
                  </div>
                 
                </div>
             
              </div>
              {% if followup.queryfollowup_set.all|length %}
              <div class="bg-gradient-light">
                {% for query in followup.queryfollowup_set.all %}
                <div class="row mb-2 border-bottom"> 
                  <div class="col-3">

                  </div>
                  <div class="col-6">
                    <div class="mb-2">
                      <p class="font-weight-bold text-gray-900 text-primary m-0">{{query.get_category_display}}</p>
                      <p class="text-gray-900 m-0">{{query.description}}</p>
                      <p class="text-muted text-sm">from: {{query.uploaded_by}}</p>
                    </div>
                  </div>
                  
                  <div class="col-3">
                    <p class="font-weight-bold text-gray-900 text-primary m-0">Date: </p>
                    <p class="text-gray-900 m-0">{{query.inserted_at|date:'M d, Y'}}</p>
                  </div>
                </div>
                {% endfor %}
                <div class="d-flex mb-2 justify-content-center">
                  <a href="{% url 'add_callreport_query' followup.id %}" data-toggle="modal" data-title="Add Query/Response" data-target="#CallBackForm" class="btn btn-sm btn-outline-primary">Add Query/Respond To Query</a>
                </div>
              </div>
              {% endif %}
              {% endfor %}

              {% else %}
              <div class="d-flex justify-content-center">
                <p>No followup Yet</p>
              </div>
              {% endif %}
              {% if callreport.uploaded_by == request.user %}
              <div class="row d-flex justify-content-center">
                <a href="{% url 'create_followup' callreport.id %}" data-toggle="modal" data-title="Create new followup"
                  data-target="#CallBackForm" class="mx-1 btn btn-sm btn-primary">New
                  Followup</a>

                <a href="{% url 'update_callreport' callreport.id %}" data-toggle="modal" data-title="Update {{callreport.project.name}}"
                data-target="#CallBackForm" class="btn btn-sm btn-primary"> Update Callreport
                </a>
              </div>
              {% endif %}
            </div>
          </div>

        </div>
        {% endfor %}
        {% else %}
        <div class="card">
          <div class="card-body">
            No callreport Yet
          </div>
        </div>
        {% endif %}

      </div>


    </div>
  </div>
