{% load static %}
<div class="card  border border-light mb-2">
  <div class="card-header bg-default">
    <div class="row">
      <div class="{% if disable_action != True %} col-10 {% else %} col-12{% endif %}">
               
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0 me-3">
                
                <img src="{% static 'img/grad_hat.svg' %}"
                              
                alt="grad-hat-avatar" class="rounded" height="30" width="30" id="gradHatAvatar" />

                </div>

            <div class="flex-grow-1">
                <span class="fw-semibold d-block">{{education.institute}}</span>
                <span class="font-weight-bold">{{education.degree}},  </span> {{education.area_major}} <br>
                <span class="font-weight-bold">{{education.passing_year }}</span> ({{education.division_class_cgpa}})<br>

            </div>
        </div>
      </div>
      {% if disable_action != True %}
      
      <div class="col-2 d-flex justify-content-end align-items-center gap-1">
        <div class="dropdown">
          <button class="btn p-0" type="button" id="educationBackground{{forloop.counter}}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bx bx-dots-vertical-rounded"></i>
          </button>

          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="educationBackground{{forloop.counter}}">
            <a data-url="{% url 'edit_educational_background_detail' education.id %}"  data-bs-toggle="modal"
            data-title="Edit Educational Background" data-bs-target="#UpdateFormModal" class="dropdown-item">
            <span class="">Edit</span>
            </a>
    
    
            <a href="{% url 'edit_educational_background_detail' education.id %}"  class="ajax-delete dropdown-item">
              <span class="">Delete</span>
               </a>
          </div>
        </div>

        </div>
        {% endif %}

    </div>
  </div>
</div>

