{% load static %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bolder text-primary ">Installation
        {% if not request.user.user_type == "0" %}
        <div class="float-right">

          <a href="{% url 'installation_report' %}" data-toggle="modal" data-title="Generate New report" data-target="#CallBackForm" class="btn btn-sm btn-primary">Generate Report</a></span>

          <a href="{% url 'create_installation' %}" data-toggle="modal" data-title="Add new Installation" data-target="#CallBackForm" class="btn btn-sm btn-primary">New
            Installation</a>

          </div>
          {% endif  %} 
      </h6>
    </div>

    <div class="card-body">
      {% if installations %}
      <div class="row mb-1">
        <div class="col-4 offset-8">
            <input type="search" id="installation-search" value="" class="form-control" placeholder="Search">
        </div>
      </div>
      <div class="accordion" id="installationaccordion">
        
        {% for installation in installations %}
        <div class="card  border border-primary mb-2">
          <div class="card-header bg-default" id="installation{{forloop.counter}}e">
            <div class="row" data-toggle="collapse" data-target="#collapseinstallation{{forloop.counter}}" aria-expanded="true"
              aria-controls="collapseinstallation{{forloop.counter}}">
              <div class="col-4 mb-1">
                <span class="font-weight-bold  m-0 ">Unit:</span>
               {{installation.unit}}
              </div>
              <!-- <div class="col-4 mb-1">
                <p class="font-weight-bold m-0">Call Date: {% if callback.status == 0%}
                  <span class="float-right text-weight-light badge badge-danger badge-pill" >
                   </span>
                    {% else %}
                  <span class="float-right text-weight-light badge badge-success badge-pill" >
                   </span>
                    
                    {% endif %}
                </p>
                <p class=" m-0">{{callback.call_date|date:'M d H:i'}}</p>
              </div> -->
              <div class="col-4 mb-1">
                <span class="font-weight-bold   m-0">Start Date: </span>
                {{installation.start_date|date:'M d'}}
              </div>
              <div class="col-4 mb-1">
                <span class="font-weight-bold   m-0">Target Date: </span>
               {{installation.target_date|date:'M d'}}
              </div>
              <div class="col-12">
                <span class="font-weight-bold m-0">Team Supervisor: </span>
                {{installation.team_supervisor.name}} {% if requser.user.user_type == "0" %}{{installation.team_supervisor.mobile_no}} {% endif %}
              </div>

              <div class="col-8">
                <div class="mb-2">
                  <span class="font-weight-bold   m-0">Recent Update: </span>{{installation.activity_set.all.0.activity_date}}
                </div>   
              </div>
              <div class="col-4">
                <!-- <span class="font-weight-bold   m-0">Status: </span> -->
                {% if installation.activity_set.all.0.status < 3 %}
                <span class="badge badge-pill badge-danger">{{installation.activity_set.all.0.get_status_display}}</span>
              {% else %} 
                <span class="badge badge-pill badge-success">{{installation.activity_set.all.0.get_status_display}}</span>
                {% endif %} 
                  
              </div>
              <div class="col-12 font-weight-bold ">
                <span class="text-primary  m-0"> Latest Activity: </span>
                {{installation.activity_set.all.0.activity}}
              </div>
            </div>
          </div>
          <div id="collapseinstallation{{forloop.counter}}" class="collapse" aria-labelledby="installation{{forloop.counter}}"
            data-parent="#installationaccordion">
            <div class="card-body">
              {% if installation.activity_set.all|length %}
              {% for activity in installation.activity_set.all %}
              <!-- Subtask Loop Start -->
              <div class="row mb-2 border-bottom">
                <div class="col-3">
                  <div class="mb-2">
                    {% if activity.attachment %}
                    <a href="{{activity.attachment.url}}" class="image">
                      <img  class="img-fluid img-thumbnail" src="{{activity.attachment_thumb.url}}" alt="avatar"/> 
                    </a>
                    {% else %}
                      <span><i class="far fa-image fa-3x"></i></span>
                    {% endif %}      
                  </div>
                  <div class="mt-1 mb-2">
                    {% if activity.file_attachment %}
                        <p>
                            <a href="{{activity.file_attachment.url}}" download="download"><i class="fas fa-paperclip"></i>File</a>
                        </p>
                    {% endif %} 
                  </div>  
                </div>
                <div class="col-9">
                  <div class="mb-2">
                    <p class="font-weight-bold   m-0">Activity: <span class="font-weight-light">{{activity.activity_date|date:'M d, Y'}}</span>
                      {% if activity.status < 3 %}
                      <span class="badge badge-pill badge-danger float-right mr-2">{{activity.get_status_display}}</span>
                    {% else %} 
                      <span class="badge badge-pill badge-success float-right mr-2">{{activity.get_status_display}}</span>
                      {% endif %} 
                    </p>
                    <p class=" m-0">{{activity.activity}}</p>
                  </div>
                  <div class="mb-2">
                    <p class="font-weight-bold   m-0">Remarks: </p>
                    <p class=" m-0">{{activity.remarks}}</p>
                  </div>
                </div>
               
              </div>

              {% endfor %}

              {% else %}
              <div class="d-flex justify-content-center">
                <p>No Activity Yet</p>
              </div>
              {% endif %}
              <div class="row d-flex justify-content-center">
                <a href="{% url 'create_activity' installation.id %}" data-toggle="modal" data-title="Create new Activity"
                  data-target="#CallBackForm" class="mx-1 btn btn-sm btn-primary">New
                  Activity</a>

                <a href="{% url 'update_installation' installation.id %}" data-toggle="modal" data-title="Update {{installation.project.name}}"
                data-target="#CallBackForm" class="btn btn-sm btn-primary"> Update Status
                </a>
              </div>
            </div>
          </div>

        </div>
        {% endfor %}
        

      </div>
      {% else %}

        <div class="card-body d-flex justify-content-center">
          <div class="">No Installation Yet</div>
        </div>

      {% endif %}

    </div>
  </div>