<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bolder text-primary ">Modification
            {% if not request.user.user_type == "0" %}
            <div class="float-right">
                <a href="{% url 'modification_report' %}" data-toggle="modal" data-title="Generate New report" data-target="#CallBackForm" class="btn btn-sm btn-primary">Generate Report</a>


                <a href="{% url 'create_modification' %}" data-toggle="modal" data-title="Create New Modification"
                    data-target="#CallBackForm" class="btn btn-sm btn-primary">New
                    Modification</a>

            </div>
            {% endif %}
        </h6>
    </div>

    <div class="card-body">
        {% if modifications %}
        <div class="row mb-1">
            <div class="col-4 offset-8">
                <input type="search" id="modification-search" value="" class="form-control" placeholder="Search">
            </div>
          </div>
        <div class="accordion" id="modificationaccordion">
            
            {% for modification in modifications %}
            <div class="card border border-primary mb-2">
                <div class="card-header bg-default" id="heading{{forloop.counter}}e">
                    <div class="row" data-toggle="collapse" data-target="#modificationcollapse{{forloop.counter}}"
                        aria-expanded="true" aria-controls="modificationcollapse{{forloop.counter}}">
                          <div class="col-4 mb-2">
                            <span class="font-weight-bold  m-0 ">Unit:</span>
                            {{modification.unit}}
                          </div>
                        
                          <div class="col-4 mb-2">
                            <span class="font-weight-bold   m-0">Start Date: </span>
                            {{modification.start_date|date:'M d'}}
                          </div>
                          <div class="col-4 mb-2">
                            <span class="font-weight-bold   m-0">Target Date: </span>
                           {{modification.target_date|date:'M d'}}
                          </div>
                          <div class="col-4 mb-2">

                              <span class="font-weight-bold   m-0">Recent Update: </span>{{modification.activity_set.all.0.activity_date|date:'M d'}}
                          </div>
                          <div class="col-4 mb-2">

                         
                                {% if modification.work_order %}

                                    <span>
                                        <a href="{{modification.work_order.url}}" download="download"><i class="fas fa-download"></i> Work Order</a>
                                    </span>

                                {% endif %}

                          </div>
                          <div class="col-4 mb-2">
                            <!-- <span class="font-weight-bold   m-0">Status: </span> -->
                            <span class="badge badge-pill badge-danger">{{modification.get_status_display }}</span>
                          </div>
                          <div class="col-12 mb-2">
                            <span class="font-weight-bold  m-0">Team Supervisor </span>
                            {{modification.team_supervisor.name}}
                          </div>
                          <div class="col-12 mb-2">
                            <span class="font-weight-bold m-0">Activity: </span>
                            {{modification.activity_set.all.0.activity}}
                          </div>

                        


                    </div>
                </div>
                <div id="modificationcollapse{{forloop.counter}}" class="collapse"
                    aria-labelledby="heading{{forloop.counter}}" data-parent="#modificationaccordion">
                    <div class="card-body">
                        {% if modification.activity_set.all|length %}
                        {% for submodification in modification.activity_set.all %}
                        <div class="row mb-2 border-bottom">
                            <div class="col-3">
                                <div class="mb-2">
                                    {% if submodification.attachment %}
                                    <a href="{{submodification.attachment.url}}" class="image">
                                        <img  class="img-fluid img-thumbnail" src="{{submodification.attachment_thumb.url}}" alt="avatar" />
                                    </a>
                                    {% else %}
                                    <span><i class="far fa-image fa-4x"></i></span>
                                    {% endif %}
                                </div>
                                <div class="mt-1 mb-2">
                                    {% if submodification.file_attachment %}
                                        <p>
                                            <a href="{{submodification.file_attachment.url}}" download="download"><i class="fas fa-paperclip"></i>File</a>
                                        </p>
                                    {% endif %} 
                                  </div>  
                                                            
                            </div>
                            <div class="col-9">
                                <div class="mb-2">
                                    <span class="font-weight-bold   m-0">Activity Date: </span>
                                   {{submodification.activity_date}}
                                </div>     
                                <div class="mb-2">
                                    <span class="font-weight-bold   m-0">Activity: </span>
                                   {{submodification.activity}}
                                </div>

                            </div>
                            <!-- <div class="col-3">
                                <div class="col-2">
                                    <a href="{% url 'remove_modification_response' submodification.id %}"
                                        class="ajax-get my-1 btn btn-sm btn-outline-danger">Delete</a>
                                </div>
                            </div> -->
                        </div>
                        <!-- SubTask loop ends -->
                        {% endfor %}

                        {% else %}
                        <div class="d-flex justify-content-center">
                            <p>No Subtask Yet</p>
                        </div>
                        {% endif %}
                        <div class="row d-flex justify-content-center">
                            <a href="{% url 'create_modification_response' modification.id %}" data-toggle="modal" data-title="Create new Activity"
                              data-target="#CallBackForm" class="mx-1 btn btn-sm btn-primary">New
                              Activity</a>
            
                            <a href="{% url 'update_modification' modification.id %}" data-toggle="modal" data-title="Update {{installation.unit}}"
                            data-target="#CallBackForm" class="btn btn-sm btn-primary"> Update Status
                            </a>
                          </div>
               
                    </div>
                </div>

            </div>
            {% endfor %}
         
        </div>
        {% else %}

        <div class="card-body d-flex justify-content-center">
            No Modifications yet
        </div>

    {% endif %}


    </div>
</div>