{% load static %}
<div class="card border border-light mb-2">
  <div class="card-header bg-default">
    <div class="row">
      <div class="col-12">
               
        <div class="text-center">
            <div class="flex-shrink-0 me-3">
                
                <img src="{% static 'img/season.svg' %}"
                              
                alt="grad-hat-avatar" class="rounded" height="50" width="50" id="gradHatAvatar" />

                </div>

            <div class="flex-grow-1">
                <h5 class="fw-semibold d-block">{{application.call_for_application.title}}</h5>
                <p class="d-block">Roll No: {{application.roll_no}}</p>
                <p class=" d-block">Venue: {{application.seat.room|default:""}}</p>
            </div>
            <div class="mt-2">
                <button class="btn btn-outline-primary"> View </button>
               </div>
           
        </div>

      </div>

     
    
  </div>
</div>

</div>