<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bolder text-primary ">Routine Maintainance
      {% if not request.user.user_type == '0' %}
      <div class="float-right">

        <a href="{% url 'servicing_report' %}" data-toggle="modal" data-title="Generate New report"
          data-target="#CallBackForm" class="btn btn-sm btn-primary">Generate Report</a></span>

        <a href="{% url 'create_servicing' %}" data-toggle="modal" data-title="Add new Routine Maintainance"
          data-target="#CallBackForm" class="btn btn-sm btn-primary">New
          Routine Maintainance</a>

      </div>
      {% endif %}
    </h6>
  </div>

  <div class="card-body">
    {% if servicings %}
    <div class="row mb-2">
      <div class="col-4 offset-8">
        <input type="search" id="servicing-search" value="" class="form-control" placeholder="Search">
      </div>
    </div>

    <div class="accordion" id="servicingaccordion">
      
      {% for servicing in servicings %}
      <div class="card border border-primary mb-2">
        <div class="card-header bg-default" id="servicing{{forloop.counter}}e">
          <div class="row" data-toggle="collapse" data-target="#collapseservicing{{forloop.counter}}"
            aria-expanded="true" aria-controls="collapseservicing{{forloop.counter}}">
            <div class="col-7">
              <div class="mb-1">
                <span class="font-weight-bold">Unit: </span>{{servicing.unit}}
              </div>
              <div class="mb-1">
                <span class="font-weight-bold   m-0">Recent Maintainance:
                </span>{{servicing.activity_set.all.0.servicing_date}}
              </div>
              <div class="mb-1">
                <span class="font-weight-bold   m-0">Next Maintainance:
                </span>{{servicing.activity_set.all.0.next_servicing_date}}
              </div>

              <div class="mb-1">
                <span class="font-weight-bold   m-0">Recent Observation: </span>{{servicing.activity_set.all.0.remarks}}
              </div>

            </div>
            <div class="col-5">
              <div class="mb-2">
                <span class="font-weight-bold   m-0">Manager: </span>{{servicing.manager}}
              </div>
              <div class="">
                <span class="font-weight-bold   m-0">Mobile: </span>{{servicing.mobile_no}}
              </div>
            </div>
          </div>
        </div>
        <div id="collapseservicing{{forloop.counter}}" class="collapse" aria-labelledby="servicing{{forloop.counter}}"
          data-parent="#servicingaccordion">
          <div class="card-body">
            {% if servicing.activity_set.all|length %}
            {% for activity in servicing.activity_set.all %}
            <div class="row mb-2 border-bottom">

              <div class="col-3">
                <div class="mb-2">
                  {% if activity.attachment %}
                  <a href="{{activity.attachment.url}}" class="image">
                    <img class="img-fluid img-thumbnail" src="{{activity.attachment_thumb.url}}" alt="avatar" />
                  </a>
                  {% else %}
                  <span><i class="far fa-image fa-4x"></i></span>
                  {% endif %}
                </div>
                <div class="mt-1">
                  {% if activity.file_attachment %}
                  <p>
                    <a href="{{activity.file_attachment.url}}" download="download"><i
                        class="fas fa-paperclip"></i>File</a>
                  </p>
                  {% endif %}
                </div>
              </div>
              <div class="col-9">
                <div class="mb-1">
                  <span class="font-weight-bold   m-0">Routine Maintainance Date: </span>{{activity.servicing_date}}
                </div>
                <div class="mb-1">
                  <span class="font-weight-bold   m-0">Next Routine Maintainance:
                  </span>{{activity.next_servicing_date}}
                </div>

                <div class="mb-1">
                  <span class="font-weight-bold   m-0">Observation: </span>{{activity.remarks}}
                </div>


                <div class="mb-1">
                  <span class="font-weight-bold   m-0">Maintainance By: </span>
                  {% for person in activity.serviced_by.all %}
                  {{person.name}};
                  {% endfor %}
                </div>
                <div class="mb-1">
                  <span class="font-weight-bold   m-0">Observation By: </span>
                  {% for person in activity.observation_by.all %}
                  {{person.name}};
                  {% endfor %}
                </div>
                <!-- <div class="">
                    <a href="{% url 'remove_servicing_activity' activity.id %}"
                    class="ajax-get mx-1 btn btn-sm btn-outline-danger">Delete</a>
                  </div> -->
              </div>
            </div>

            {% endfor %}

            {% else %}
            <div class="d-flex justify-content-center">
              <p>No Activity Yet</p>
            </div>
            {% endif %}
            {% if not request.user.user_type == '0' %}
            <div class="row d-flex justify-content-center">
              <a href="{% url 'create_servicing_activity' servicing.id %}" data-toggle="modal"
                data-title="Create new Activity" data-target="#CallBackForm" class="mx-1 btn btn-sm btn-primary">New
                Activity</a>
              {% if servicing.activity_set.all|length %}
              <a href="{% url 'update_next_servicing_date' servicing.activity_set.all.0.id %}" data-toggle="modal"
                data-title="Update next servicing Unit" data-target="#CallBackForm" class="btn btn-sm btn-primary">
                Update Next Routine Maintainance Date
              </a>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>

      </div>
      {% endfor %}
      

    </div>

    {% else %}

    <div class="card-body d-flex justify-content-center">
      No Routine Maintainance Yet
    </div>

  {% endif %}
  </div>
</div>