{% load static %}
<div class="card  border border-light mb-2">
  <div class="card-header bg-default">
    <div class="row">
      <div class="{% if disable_action != True %} col-11 {% else %} col-12{% endif %}">
               
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0 me-3">
                
                <img src="{% static 'img/test.svg' %}"
                              
                alt="grad-hat-avatar" class="rounded" height="30" width="30" id="gradHatAvatar" />

                </div>

            <div class="flex-grow-1">
              <span class="fw-semibold d-block">{{test_score.test}}</span>
              <span class="font-weight-bold ">Score: </span> {{test_score.score}} <br>
              <span class="font-weight-bold ">Test Date: </span> {{test_score.test_date}} <br>

            </div>
        </div>
      </div>
      {% if disable_action != True %}
      <div class="col-1 d-flex justify-content-end align-items-center gap-1">
        <div class="dropdown">
          <button class="btn p-0" type="button" id="testscore{{forloop.counter}}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bx bx-dots-vertical-rounded"></i>
          </button>

          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="testscore{{forloop.counter}}">
           
        <a data-url="{% url 'edit_test_score_detail' test_score.id %}"  data-bs-toggle="modal"
        data-title="Edit Educational Background" data-bs-target="#UpdateFormModal" class="dropdown-item">
        <!-- <i class="bx bx-edit"></i> -->
        <span class="">Edit</span>
       </a>
    
       <a href="{% url 'edit_test_score_detail' test_score.id %}"  class="ajax-delete dropdown-item">
            
        <!-- <i class="bx bx-trash"></i>
        -->
        <span class="">Delete</span>

        </a>
            
          </div>
        </div>
        


          
          </div>
            {% endif %}
      
    
  </div>
</div>

</div>