

    <div class="row">

      <div class="my-2">
        <h5 class="fw-bolder">Payment Information</h5>
 
          <table class="table info-table table-borderless">
            <tbody>
              <tr>
                <td class="text-end"><small class="text-light fw-semibold">Payment Type : </small></td>
                <td class="">
                  <p class="mb-0">{{transaction.payment_type}}</p>
                </td>
              </tr>
              <tr>
                <td class="text-end"><small class="text-light fw-semibold">Payment Method : </small></td>
                <td class="">
                  <p class="mb-0"> {{transaction.transaction_method}}</p>
                </td>
              </tr>
              <tr>
                <td class="text-end"><small class="text-light fw-semibold">Transaction From: </small></td>
                <td class="">
                  <p class="mb-0"> {{transaction.transaction_from}}</p>
                </td>
              </tr>
              <tr>
                <td class="text-end"><small class="text-light fw-semibold">Transaction Time : </small></td>
                <td class="">
                  <p class="mb-0">{{transaction.transaction_time}}</p>
                </td>
              </tr>
              <tr>
                <td class="text-end"><small class="text-light fw-semibold"> Application : </small></td>
                <td class="">
                  <p class="mb-0"><a class="text-primary"
                      href="{% url 'application_detail' transaction.application_set.all.0.id %}">View</a> </p>
                </td>
              </tr>
              <tr>
                <td class="text-end"><small class="text-light fw-semibold">Amount : </small></td>
                <td class="">
                  <p class="mb-0">{{transaction.amount}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        
      </div>
    </div>
