{% extends "base.html" %}
{% load static %}
{% block header_css %}
{% endblock header_css %}
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Payment Dashboard</h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard_call_report' %}?limit=20">Call Report</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard_tasks' %}">Tasks</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard_project' %}">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'dashboard_collection' %}">Collection</a>
            </li>
          </ul>

          <!-- Content Row -->

          <div class="row mt-2 mb-2">
            <div class="col-md-8 col-sm-12 offset-md-2">
              {% include 'card/payment.html' %}
              
            </div>
          </div>


          


        </div>
        <!-- /.container-fluid -->


 
{% endblock content %}
{% block modal %}

{% endblock modal %}

{% block body_script %}
<!-- <script>
    $( '#todoaccordionpending' ).searchable({
        searchField: '#todo-search-pending',
        selector: '.card',
        childSelector: 'p',
        show: function( elem ) {
            elem.slideDown(100);
        },
        hide: function( elem ) {
            elem.slideUp( 100 );
        }
    })
</script>  -->

{% endblock body_script %}
{% block footer %}
{% endblock footer %}