{% extends "base.html" %}
{% load static %}
{% block bottom-margin %}
{% endblock bottom-margin %}
{% block content %}
<div class="jumbotron mb-2">
  <div class="container d-flex align-items-center">
    <div class="row ">
      <div class="col-12">
        <h4 class="font-weight-bold">Welcome! <br> {{request.user.name}}</h4>
      </div>
    </div>

  </div>
 
</div>

<div class="container">
  
  <div class="row">
    
    <div class="col-md-6 my-2 col-xs-12">
          <div class="col-12">
            <div class="card">
              
              <div class="card-body ">
                <div class="row mb-2 d-flex justify-content-center">
                  <img src="{% static 'img/building.svg' %}" alt="property" class="img" width="50" height="50">
                </div>
                <div class="text-center">
                  <h4 class="font-weight-bold">My Property</h4>
                </div>
                {% for project in projects %}
                <div class="card mb-2 shadow-sm">
                  <div class="card-body">
                    <div class="row d-flex align-items-center">
                      <div class="col-6">
                        <div class=""><h6 class="m-0 font-weight-bold">{{project.name}}</h6></div>
                        <div class="text-muted">{{project.address}}</div>
                      </div>
                      <div class="col-6">
                        <a href="{% url 'project_detail' project.id %}" class="btn float-right btn-primary btn-sm">View Details</a>
                      </div>
                    </div>
                    
                  </div>
                </div>
              {% endfor %}
                </div>


            </div>
          </div>
    </div>
    <div class="col-md-6 my-2 col-xs-12">
      <div class="col-12">
        <div class="card">
          
          <div class="card-body">
            <div class="row mb-2 d-flex justify-content-center">
              <img src="{% static 'img/customer-service.svg' %}" alt="notifications" class="img" width="50" height="50">
            </div>
            <div class="text-center">
              <h4 class="font-weight-bold">Service Request </h4>
            </div>
          {% for req in pending_requests %}
          <div class="card mb-2 shadow-sm">
            <div class="card-body">              
              <div class="row d-flex align-items-center">
                <div class="col-6">
                  <div class=""><h6 class="m-0 font-weight-bold">{{req.unit}}</h6></div>
                  <div class=""> <span class="font-weight-bold">Request:</span> {{req.client_complain}}
                  </div>
                  <div class=""> <span class="font-weight-bold">Status:</span>
                    
                    <span class="badge badge-pill {% if req.status == 0 %} badge-danger {% else %} badge-sucess {% endif %}">
                    {{req.get_status_display}}
                  </span>

                </div>
                </div>
                <div class="col-6">
                  <a href="{% url 'callback_view' req.id %}" class="btn float-right btn-primary btn-sm">View Details</a>
                </div>
              </div>
              
            </div>
          </div>
        {% endfor %}
            <div class="row mt-2 d-flex justify-content-center">
              <a href="{% url 'client_callback_report' %}" data-toggle="modal" data-title="Generate New report" data-target="#CallBackForm" class="btn mx-1 btn-sm btn-primary">Generate Report</a>
              <a href="{% url 'create_callback' %}" data-toggle="modal" data-title="New Service Request" data-target="#CallBackForm" class="btn mx-1 btn-sm btn-primary">New Request</a>
            </div>

          </div>
        </div>
      </div>
    </div> 


         
    
    </div>
   
  </div>

<!-- /.container-fluid -->

{% endblock content %}