{% extends "base.html" %}
{% load static %}

{% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">All Notifications</li>
            </ol>
          </nav>

          
  
            <!-- Content Row -->
            <div class="row">
              <div class="container-fluid">
                  <!-- Page Heading -->
                    <!-- <p class="mb-4 text-right">
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                        <a href="#" data-toggle="modal" data-target="#newBrandForm" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> New Brand </a>
                        <a href="#" data-toggle="modal" data-target="#newUnitForm" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> New Unit</a>
                        <a href="#" data-toggle="modal" data-target="#newProjectForm" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> New Project</a>
                    </p> -->
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2 col-xs-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bolder text-primary ">All Notifications
                                  </h6>
                                </div>
                              
                                <div class="card-body">

                                    <div class="container-fluid" id="notifications">

                                
                                    </div>
                            
                                </div>
                            </div>
                                
                            
                      
                
                        </div>
                    </div>
                  
                </div>
            </div>
  
          </div>
          <!-- /.container-fluid -->

{% endblock content %}


{% block body_script %}
<script>
    function getTIMESTAMP(timestamp) {
        var date = new Date(timestamp);
        var year = date.getFullYear();
        var month = ("0" + (date.getMonth() + 1)).substr(-2);
        var day = ("0" + date.getDate()).substr(-2);
        var hour = ("0" + date.getHours()).substr(-2);
        var minutes = ("0" + date.getMinutes()).substr(-2);
        var seconds = ("0" + date.getSeconds()).substr(-2);

        return day + "/" + month + "/" + year + " " + hour + ":" + minutes + ":" + seconds;
    }
    $.get("{% url 'notifications:live_all_notification_list' %}", function(data){
        console.log(data)
        for (var i=0; i < data.all_list.length; i++) {
            msg = data.all_list[i];
            $('#notifications').append(`
                <div class="row  border-bottom d-flex align-items-center mb-2">
                    <div class="col-1 text-danger" style="align:right;">
                        <i class="far fa-2x fa-bell"></i>
                    </div>
                    <div class="col-11">
                        <a href="${msg.data.url}">
                        <div class=" mt-0 mb-0 text-gray-900 font-weight-bold">${msg.verb}</div> 
                        </a>    
                        <small> <span class="text-muted">Date: ${getTIMESTAMP(msg.timestamp)}</span> </small>
                        
                    </div>
                                        
                </div>


            `);
         }});
</script>

{% endblock body_script %}