{% extends "base.html" %}
{% load static %}
{% block header_css %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock header_css %}
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Project</h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
          </div>
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard_call_report' %}?limit=20">Sales Call Report</a>
            </li>
        
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard_tasks' %}">Tasks</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'dashboard_project' %}">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard_collection' %}">Collection</a>
            </li>
          </ul>

          <!-- Content Row -->
          <div class="row">
            <div class="container-fluid">
                <!-- Page Heading -->
                <p class="mb-4 text-right">
                    <a href="{% url 'create_brand' %}" data-toggle="modal" data-title="Create New Brand" data-target="#CallBackForm" class="d-sm-inline-block btn btn-sm btn-primary">New Brand</a></span>
                    <a href="{% url 'create_unit' %}" data-toggle="modal" data-target="#UnitForm" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"></i> New Unit</a>
                    <a href="{% url 'create_project' %}" data-toggle="modal" data-title="Create New Project" data-target="#CallBackForm" class="d-sm-inline-block btn btn-sm btn-primary">New Project</a></span>
                    <a href="{% url 'create_client' %}" class="d-sm-inline-block btn btn-sm btn-primary">New Client</a></span>

                </p>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered" id="projectlistTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Project</th>
                            <th>Unit</th>
                            <th>LC</th>
                            <th>Drawing</th>
                            <th>Shipment</th>
                            <th>Lc Payment</th>
                            <th>Mechanical Work</th>
                            <th>Commissioning</th>
                            <th>Hand Over</th>
                            <th>Final Payment</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}
                          {% if project.unit_set.all|length %}
                              {% for unit in project.unit_set.all %}
                              <tr>
                                <td><a href="{% url 'project_detail' project.id %}"> {{project.name}}</a></td>
                                <td>{{unit.name}}</td>
                                <td>{{unit.lc}}</td>
                                <td>{{unit.drawing}}</td>
                                <td>{{unit.shipment}}</td>
                                <td>{{unit.lc_payment}}</td>
                                <td>{{unit.mechanical_work}}</td>
                                <td>{{unit.commissioning_work}}</td>
                                <td>{{unit.handover}}</td>
                                <td>{{unit.final_payment}}</td>
                                <td><a href="{% url 'update_unit' unit.id %}" class="btn btn-outline-primary" data-toggle="modal" data-target="#UnitForm">Edit</a></td>

                              </tr>
                              {% endfor %}
                          {% else %}
                              <tr>
                                <td><a href="{% url 'project_detail' project.id %}">{{project.name}}</a></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
      
              </div>
          </div>

        </div>
        <!-- /.container-fluid -->


 
{% endblock content %}
{% block modal %}

<!-- New Unit Modal -->
<div class="modal fade" data-backdrop="static" id="UnitForm" tabindex="-1" role="dialog" aria-labelledby="subTaskForm" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="exampleModalLabel">Create New Unit</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<!-- End of New Unit Modal -->
{% endblock modal %}

{% block body_script %}
<script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<script>
    $(document).ready(function(){
      $('#projectlistTable').DataTable();
      });
      $('#UnitForm').on('show.bs.modal', function (e) {
        var url =  $(e.relatedTarget).attr('href');
        $.get(url, function(res){
          console.log(res)
          $('.modal-body').html(res);
          
        }).done(function(e){
          $(".form").submit(function(e) {

            e.preventDefault(); // avoid to execute the actual submit of the form.

            var form = $(this);
            var url = form.attr('action').replace("/undefined/", "");
            console.log(url);
            $.ajax({
                  type: "POST",
                  url: url,
                  data: form.serialize(), // serializes the form's elements.
                  success: function(data)
                  {
                    var res = JSON.parse(JSON.stringify(data));
                    console.log(res);
                    if (res["status"] == "error"){
                      $('.help-text').text(res["msg"]);
                    }else{
                      location.reload();
                    }
                  }
                });
            });
            $('.date').bootstrapMaterialDatePicker({ format : "MM/DD/YYYY" , time:false});

        });

    });
    $('#UnitForm').on('hidden.bs.modal', function (e) {
        var url =  $(e.relatedTarget).attr('url');
          $('.modal-body').html("")

    });



</script>
{% endblock body_script %}