{% extends "base.html" %}
{% load static %}

{% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
          </nav>


            
  
            <!-- Content Row -->
            <div class="row">
              <div class="container-fluid">
                  <!-- Page Heading -->
                    <!-- <p class="mb-4 text-right">
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                        <a href="#" data-toggle="modal" data-target="#newBrandForm" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> New Brand </a>
                        <a href="#" data-toggle="modal" data-target="#newUnitForm" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> New Unit</a>
                        <a href="#" data-toggle="modal" data-target="#newProjectForm" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> New Project</a>
                    </p> -->
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2 col-xs-12">
                            {% include card %}
                        </div>
                    </div>
                  
                </div>
            </div>
  
          </div>
          <!-- /.container-fluid -->

{% endblock content %}